@model AMan.Models.Android
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Android</h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row panel-body">
            <div class="col-md-3 col-lg-3 " align="center">
                <img id="targetImg" src="~/Avatars/default.png" class="img-responsive">
            </div>
            <div class="col-md-9 col-lg-9">
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AvatarPath" class="col-md-2 control-label"></label>
                    <div class="col-md-10"> 
                        <input type="file" name="avatar" id="imageBrowse" class="custom-file-input">
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SkillsTags" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="SkillsTags" class="form-control" />
                        <span asp-validation-for="SkillsTags" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Reliability" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Reliability" class="form-control" />
                        <span asp-validation-for="Reliability" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/jquery-1.10.2.min.js"></script>
<script>

    $(document).ready(function () {

        $("#imageBrowse").change(function () {

            var File = this.files;

            if (File && File[0]) {
                ReadImage(File[0]);
            }
        })
    })


    var ReadImage = function (file) {

        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {

            image.src = _file.target.result;
            image.onload = function () {

                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = ~~(file.size / 1024) + "KB";

                $("#targetImg").attr('src', _file.target.result);
                $("#imagePreview").show();
            }
        }
    }

    var ClearPreview = function () {
        $("#imageBrowse").val('');
        $("#imagePreview").hide();
    }

</script>